{% extends "app1/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    {% include "navbar.html" %}
    <a href="{% url 'user_create' %}">Foydalanuvchi qo'shish</a>
    {% for user in users %}
        <a href="{% url 'user_view' %}"><h1>{{ user.first_name }} {{user.last_name}}</h1></a>
    {% endfor %} 
{% endblock %}

</body>
</html>