{% extends 'base.html' %}

{% block content %}

<div style="
    max-width:500px;
    margin:60px auto;
">

    <div class="dark-card">

        <h1 style="
            text-align:center;
            margin-bottom:10px;
            font-weight:bold;
        ">
            📝 Register
        </h1>

        <p style="
            text-align:center;
            color:#8a8a8a;
            margin-bottom:20px;
        ">
            Create account | Ro‘yxatdan o‘tish
        </p>

        <form method="post" enctype="multipart/form-data">

            {% csrf_token %}

            <div style="margin-bottom:15px;">
                {{ form.as_p }}
            </div>

            <button type="submit" class="btn-dark-custom" style="width:100%;">
                Register →
            </button>

        </form>

        <hr style="border-color:#2a2a2a;">

        <p style="
            text-align:center;
            color:#666;
            font-size:14px;
            margin:0;
        ">
            Already have account? Login qil 😎
        </p>

    </div>

</div>

{% endblock %}