{% extends 'base.html' %}

{% block content %}

<div style="
    max-width:480px;
    margin:80px auto;
">

    <div class="dark-card" style="text-align:center;">

        <h1 style="
            margin-bottom:10px;
            font-weight:bold;
        ">
            🗑️ Delete User
        </h1>

        <p style="
            color:#9a9a9a;
            margin-bottom:20px;
        ">
            Siz rostdan ham shu userni o‘chirmoqchimisiz?
        </p>

        <p style="
            color:white;
            font-size:18px;
            margin-bottom:20px;
        ">
            <b>{{ user.first_name }} {{ user.last_name }}</b>
        </p>

        {% if user.avatar %}
            <img src="{{ user.avatar.url }}"
                 style="
                    width:120px;
                    height:120px;
                    object-fit:cover;
                    border-radius:50%;
                    border:3px solid #7c3aed;
                    margin-bottom:20px;
                 ">
        {% endif %}

        <p style="
            color:#777;
            font-size:14px;
            margin-bottom:25px;
        ">
            Bu amal qaytarib bo‘lmaydi ⚠️
        </p>

        <form method="post">

            {% csrf_token %}

            <button type="submit"
                    style="
                        padding:10px 20px;
                        background:#ef4444;
                        color:white;
                        border:none;
                        border-radius:10px;
                        cursor:pointer;
                        font-weight:bold;
                        width:100%;
                        transition:0.3s;
                    ">
                🗑️ Delete Forever
            </button>

        </form>

    </div>

</div>

{% endblock %}