{% extends 'base.html' %}

{% block content %}
<body style="font-family:Arial; background:#f4f4f4;">

    <div style="width:350px;
                margin:100px auto;
                background:white;
                padding:20px;
                border-radius:10px;
                box-shadow:0px 0px 10px rgba(0,0,0,0.1);
                text-align:center;">

        <h2>Delete User</h2>

        <p>
            Siz rostan ham shu forydalanuvchini o'chirmoqchimisiz:
            <b>{{ user.first_name }} {{ user.last_name }}</b>?
        </p>

        {% if user.avatar %}
            <img src="{{ user.avatar.url }}"
                 width="120px"
                 style="border-radius:8px;">
        {% endif %}

        <br><br>

        <form method="post">

            {% csrf_token %}

            <button type="submit"

                    style="padding:10px 20px;
                           background:red;
                           color:white;
                           border:none;
                           border-radius:5px;
                           cursor:pointer;">

                Delete

            </button>

        </form>

    </div>

{% endblock %}
